:root {
  --vp-c-brand-1: #5086a1;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: #83d0da50;
  --vp-c-bg-alt: #f9f9f9;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #35495e -80%, #41b883);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #41b88380 30%, #35495e80);
  --vp-home-hero-image-filter: blur(30px);
}

.dark{
  --vp-c-brand-1: #8cccd5;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #5086a1;
  --vp-c-brand-soft: #83d0da50;
  --vp-c-bg-alt: #18181b;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #35495e -80%, #41b883);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #41b88380 30%, #35495e80);
  --vp-home-hero-image-filter: blur(30px);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1,
h2 {
  border: none !important;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.VPNavBarTitle span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
